---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		This is my new website! Hopefully I'm more active here. My posts will be a little old at first (written a couple years ago), but I will try to write new posts soon! Of course, I have new ideas and have a new perspective on a lot of things.
	</p>

</Layout>
